.navbar-style{
    background-color:#00868b;
    height: 35px;
    font-size: medium;
    /* width: 60%; */
}
/* .Navbar-container{
    width: 100%;
    background-color:blue;
    height: 35px;
    font-size: medium;
    display: flex;
    justify-content: center;

} */